<div class="bg-dark text-light py-5">
  <div class="container header-container w-limited d-flex align-items-center">
    <a class="fw-bold text-white me-auto" routerLink="/">
      <div class="header-title">Todo Assignment</div>
    </a>
    <div class="header-actions">
      <a class="btn btn-primary me-2" routerLink="/new">Create</a>
      <a class="btn btn-primary" routerLink="/">Todos</a>
    </div>
  </div>
</div>

<div class="container w-limited py-5">
  <router-outlet></router-outlet>
</div>
